.form__field-error {
    display: block;
    color: red;
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto 15px;
    max-width: 358px;
    min-height: 30px;
    opacity: 0;
   
    width: 100%;
}

.form__field-error_visible{
 opacity: 1;
}

