.popup__close {
    background-image: url(./images/CloseIcon.svg);
    width: 32px;
    height: 32px;
    background-color: transparent;
    position: absolute;
    right: -44px;
    top: -44px;
    border: none;
}
